.card-list {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5;
}

.card-list::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

.card-list::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
}

.card::-webkit-scrollbar-corner {
  background: none;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow-y: scroll;

  height: 500px;
  width: min-content;
  min-width: 400px;
  padding: 1rem;

  border-radius: 16px;
  background-color: var(--abstract-secondary);
  box-shadow: -1rem 0 1.5rem #000;

  transition: 0.2s ease;
}

.card::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.card::-webkit-scrollbar-track {
  background: var(--bg-primary);
}

.card::-webkit-scrollbar-corner {
  background: none;
}

.card::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
}

.card-date {
  margin-top: -1rem;
  color: var(--text-secondary);
}

/* Small Screen */
@media screen and (max-width: 600px) {
}

/* Large Screen */
@media screen and (min-width: 600px) {
  .card:hover {
    transform: translateY(-1rem);
  }
  .card:hover ~ .card {
    transform: translateX(130px);
  }
  .card:not(:first-child) {
    margin-left: -130px;
  }
}
